.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  width: 70%;
  height: 45rem;
  background-color: var(--gray-300);

  margin-top: 2rem;

  border-radius: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .firstDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: 20%;
    padding: 1.5rem;

    .internFirstDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }

    h3 {
      color: var(--gray-900);

      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 900;
    }

    border-bottom: 1px solid #c3c3c3;

    .input {
      height: 3rem;
      width: 20rem;

      border-radius: 1rem;
      border-style: none;
      border: 1px solid #7e7e7e;

      background-color: var(--gray-100);

      margin-right: 1rem;
      padding: 1rem;

      .input:focus {
        outline: none;
      }
    }

    .button {
      height: 3.5rem;
      width: 3.5rem;

      border-radius: 1rem;
      border-style: none;

      background-color: #53d64e;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: transform 0.2s;

      font-weight: 700;

      &:hover {
        background-color: #42a73f;
      }
    }
  }
  .secondDiv {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

    width: 100%;
    height: 80%;
    padding: 1.5rem;

    color: var(--gray-900);
    font-size: 1.5rem;

    overflow-y: scroll;

    ul {
      padding: 1.5rem;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      list-style: none;

      li {
        width: 100%;
        height: 6rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        border-bottom: 1px solid var(--gray-900);

        padding: 1rem;
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0rem;
        }

        .insideLi {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 30%;
        }

        .inputList {
          background: none;
          border: none;

          font-size: 1.3rem;
          font-weight: 600;
          color: var(--gray-900);

          &:focus {
            outline: none;
          }
        }

        button {
          width: 7rem;
          height: 2rem;


          border-radius: 2rem;
          border-style: none;

          background-color: #f06565;

          font-weight: 700;
        }

        .conc {
          width: 7rem;
          height: 2rem;


          border-radius: 2rem;
          border-style: none;

          background-color: #65f06c;

          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: 690px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    width: 80%;
    height: 45rem;
    background-color: var(--gray-300);

    margin-top: 2rem;

    border-radius: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .firstDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      width: 100%;
      height: 20%;
      padding: 1.5rem;

      .internFirstDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }

      h3 {
        color: var(--gray-900);
  
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 900;
      }

      border-bottom: 1px solid #c3c3c3;

      .input {
        height: 3rem;
        width: 80%;

        border-radius: 1rem;
        border-style: none;
        border: 1px solid #7e7e7e;

        background-color: var(--gray-100);

        margin-right: 1rem;
        padding: 1rem;

        .input:focus {
          outline: none;
        }
      }

      .button {
        height: 3rem;
        width: 3.8rem;

        border-radius: 1rem;
        border-style: none;

        background-color: #53d64e;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: transform 0.2s;

        color: #000;
        font-weight: bold;

        &:hover {
          background-color: #42a73f;
          color: var(--white);
        }
      }
    }
    .secondDiv {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;

      width: 100%;
      height: 80%;
      padding: 1.5rem;

      color: var(--gray-900);
      font-size: 1.5rem;

      overflow-y: scroll;

      ul {
        padding: 1.5rem;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        list-style: none;

        li {
          width: 100%;
          height: 4rem;

          display: flex;
          align-items: center;

          border-bottom: 1px solid var(--gray-900);

          padding: 1rem;
          margin-bottom: 1rem;

          &:last-child {
            margin-bottom: 0rem;
          }

          .inputList {
            background: none;
            border: none;
  
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--gray-900);
  
            &:focus {
              outline: none;
            }
          }
  
          button {
            width: 7rem;
            height: 2rem;
  
  
            border-radius: 2rem;
            border-style: none;
  
            background-color: #f06565;
  
            font-weight: 700;
          }
        }
      }
      
    }
  }
}
